.transactionTable {
  width: 100%;
  border: solid 2px olive;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.transactionTable tr {
  display: flex;
}

.transactionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transactionTable tr:hover {
  background-color: #ffe991;
}

.transactionTable td,
.transactionTable th {
  flex: 1;
  border: 1px solid #ffe991;
  padding: 8px 0;
}

.transactionTable th {
  padding: 12px 0;
  background-color: brown;
  color: white;
}
